<head>
    <script type="text/javascript" src="/js/gallery.js"></script>
    <!-- // 通过jsDelivr的CDN引入echarts -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.8.0/dist/echarts.min.js"></script>
    <!-- // 使用GL里的各种组件时需要添加，否则可不需要 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts-gl@1.1.1/dist/echarts-gl.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>

    <script type="text/javascript" src="/js/texture.js"></script>
    <script type="text/javascript" src="/js/rose.js"></script>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="/css/fluid-gallery.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="<%= page.keywords || config.keywords || 'Hexo Theme Keep' %>">
    <meta name="description" content="<%= page.description || config.description || 'Hexo Theme Keep' %>">
    <meta name="author" content="<%= theme.base_info.author || config.author || 'Keep Team' %>">
    <%
    let title = page.title;
    if (is_archive()) {
        title = __('archive');
        if (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = __('category') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('tag') + ': ' + page.tag;
    } else {
        title = __(page.title);
    }
    %>
    <title>
        <% if (title) { %>
            <%= title %> |
        <% } %>
        <%= theme.base_info.title || config.title || 'Keep Theme' %>
    </title>
    <%- css('css/style') %>
    <%- favicon_tag(theme.style.favicon) %>
    <%- __css('css/font-awesome.min.css') %>
    <%- export_config() %>
    
</head>

